/* CSS declarations go here */

/* ===================== START doneBefore ===================== */

.done-before > input {
	width: 500px;
}

/* ===================== END doneBefore ===================== */


/* ===================== Idea List ===================== */

.idea-description {
	display: block;
}

.idea-list {
	/*padding-left: 1px;*/
	display: block;
	padding-top: 10px;
}


.idea-list li { /* all li's in an idea-list */
	list-style-type: none;

	
}


.idea-list > li { /* specifically the list li's in an idea-list */
	/*padding: 0px 4px 20px 4px;*/
	border-top: solid 1px #CCC;
}

.idea-list .related-ideas > li {
	display: inline;

	background-color: #3a87ad;
	color: #EEE;

	font-size: 12px;
	line-height: 22px;
	
	padding: 3px 6px;
	border-radius: 3px;
	margin-left: 5px;
	margin-top: 4px;
	margin-bottom: 10px;

/*	background-color: #3a87ad;
  color:#EEE;
  float:left;
  font-size:12px;
  padding:0 5px;
  border-radius:3px;
  margin-left:5px;
  margin-top:4px;


	display: inline;
	line-height: 22px;

	*/

	
}

.idea-list .related-ideas  {
	padding-top: 1px;
	padding-left: 0px;
	margin-left: -3px;
	float:left;

	line-height:22px;
}

.related-ideas-all {
	height:22px;
	line-height: 22px;
/*	width:1000px;*/
	/*background-color: red; for alignment check*/ 
}

.related-idea-input > .ms-ctn { /* also .related-idea-add-ms */
    float: right !important;
}


.related-idea-submit {
    float: right;
}

.label-info.expanded, .label-info, .ms-sel-ctn .ms-sel-item {
  background-color: #3a87ad;
  color:#EEE;
  float:left;
  font-size:12px;
  padding:0 5px;
  border-radius:3px;
  margin-left:5px;
  margin-top:4px

}

.ms-res-ctn {
    height: auto !important;
}

/*
.related-idea-input {
	float:right;
	width:227px;
	height:20px;
}

.related-idea-input .related-idea-add {
	width:220px;
	
}


.selectedx {
	float:left;
}

.ms-res-ctn {
    height: auto !important;
}

.ms-ctn {
	width:300px;
}

.related-idea-input > .ms-ctn {
    float: right !important;
}



.label-info.expanded, .label-info, .ms-sel-ctn .ms-sel-item {
  background-color: #3a87ad;
  color:#EEE;
  float:left;
  font-size:12px;
  padding:0 5px;
  border-radius:3px;
  margin-left:5px;
  margin-top:4px

}
*/

/* ===================== Page Layout ===================== */
.page-body {
	margin-top: 80px;
	padding:  60px;
	width:74%;
	max-width: 1000px;
	background-color: #FFF;
}

.add-idea-input
{

	padding-top: 7px;
	padding-bottom:20px;
	width:100%;

}

.add-idea-input .idea-title
{
	width:100%;
}

.add-idea-input .idea-description
{
	width:100%;
}


#navbar-fixed-top {
	position: fixed;
	top:0px;
	left:0px;

	width:100%;
	height:50px;


	background-color: #EEE;
	z-index: 998;
	border-bottom:1px solid #DDD;
}
#idea-names-list {
	width:300px;
	height:600px;
	overflow: auto;
	background-color: #EEE;

	
	border-left:1px solid #DDD;
	border-right:1px solid #DDD;


	margin-top: 0;
	z-index: 999;
	position: fixed;
	top:50px;
	right:20px;
}

#idea-names-list > ul {
	padding-left: 0
}

/* ===================== Generic Declarations ===================== */


a[name] { /*hack for fixed-position-navbar-obscures-anchors*/
  /*padding-top: 40px;
  margin-top: -40px;
  display: inline-block; *//* required for webkit browsers */
}


li {
	list-style-type: none;
}
h1 {
	font-size: 20px;
	font-weight: 200;
	color: #777777;
	text-shadow: 0 1px 0 #ffffff;
	padding-left: 40px;

}

a {
	color: #0088cc;
	text-decoration: none;
}

a:hover, a:focus {
    color: #005580;
    text-decoration: underline;
}


textarea, input  {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color:rgb(51, 51, 51);
	font-size: 14px;
	border: solid 1px #CCC;
	padding: 2px 4px;
}
body {

	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color:rgb(51, 51, 51);
	font-size: 14px;

	background: #FFF; /*#F0F0F0*/
}